.headers {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
}

.body1 {
    margin-top: 101px;
}

.testi1 {
    position: relative;
    height: 150px;
    width: 900px;
    background-color: rgba(47, 248, 255, 0.498);
    margin-left: 228px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
    border-radius: 9px;
    font-size: 14px;
}

.testi2 {
    position: relative;
    height: 150px;
    width: 900px;
    background-color: rgba(172, 255, 47, 0.409);
    margin-left: 228px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
    border-radius: 9px;
}

.testi3 {
    position: relative;
    height: 150px;
    width: 900px;
    background-color: rgba(255, 238, 47, 0.409);
    margin-left: 228px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
    border-radius: 9px;
    font-size: 14px;
}

.testi4 {
    position: relative;
    height: 150px;
    width: 900px;
    background-color: rgba(85, 47, 255, 0.361);
    margin-left: 228px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
    border-radius: 9px;
    font-size: 14px;
}

.footer {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: rgb(126, 151, 126);
    top: 1600px;
}

.footer2 {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: rgb(126, 151, 126);
    top: 1600px;
    left: 470px;
    font-size: 14px;
}

.headers2 {
    position: absolute;
    width: 780px;
    background-color: antiquewhite;
    height: 100px;
    top: 0px;
    left: 482px;
}

.logo {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 0px;
}