<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/chatbot.css">
</head>

<body>
    <div class="bot">
        <div class="upper">
            <h3>
                Chat with us😃!
            </h3>
            <div class="img2">
                <img src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png" alt="logo">

            </div>
            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
            <i onclick="myFunction(this)" class="fa fa-thumbs-down"></i>


        </div>
        <div class="mess1">
            <img src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png" alt="logo">
        </div>
        <div class="startingbox">
            <h4>
                HI I'M YOUR SUPER BOT😀
                <br> HOW CAN I HELP YOU?
            </h4>

        </div>
        <div class="createaccount">
            <a href="#">
                <h4>
                    CREATE AN ACCOUNT
                </h4>
            </a>


        </div>
        <div class="createaccount1">
            <a href="#">
                <h4>
                    EDIT YOUR PROFILE
                </h4>
            </a>


        </div>
        <div class="createaccount2">
            <a href="#">
                <h4>
                    LEAVE A MESSAGE
                </h4>
            </a>


        </div>


    </div>










</body>

</html>